/*
*
* @author Michael Santos
* @version 0.1
*/
/* Reset CSS - Simplificado */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============ Barra de navegação ============ */
body, 
.capa {
    height: 100vh;
}
body {
    background: url('../img/capa.png'), 
                url('../img/ruido.png'),
                linear-gradient(45deg, #AB05F2, #5207F2);
    background-attachment: fixed;
    font-family: 'Rubik', sans-serif;
}

/* -- Barra de navegação --*/

.img-logo {
    background-image: url('../img/spotify.svg');
    background-size: contain;
    color: transparent;
    display: block;
    height: 40px;
    width: 132px;
}

nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.57);
    padding: 15px 0px;
}

.divisor {
    background-color: whitesmoke;
    margin: 13px 10px;
    height: 16px;
    width: 1px;
}

li.nav-link a {
    color: whitesmoke; 
}

li.nav-link a:hover {
    color: #9BF0E1;
    text-decoration: none;
}

/* -- Imagem de capa -- */
.capa {
    display: table;
    width: 100vw;
}

.textCapa {
    color: whitesmoke;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* -- Botão capa */
.btn-custom {
    color: whitesmoke;
    border-radius: 500px;
    margin: 0px 15px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 35px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

.btn-roxo {
    background: #F25C05;
    color: #FFF;
}

.btn-roxo:hover {
    background: #230A59;
    color: #FFF;
}

.btn-branco {
    border: 2.5px solid #FFF;
    color: #FFF;
}

.btn-branco:hover {
    background: #FFF;
    color: #230A59;
}
/* ============ Tipografia ============ */
h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}